#todo-page {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
}

#todo-title {
    display: flex;
    font-size: 1.5rem;
    color: #60C77F;
    /* background-color: aquamarine; */
    align-items: center;
    padding-left: 9.75rem;
    padding-top: 3.5rem;
    margin-bottom: 1rem;
}

#search {
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    padding-left: 9.75rem;
    padding-right: 4rem;
    align-items: center;
}

#card {
    padding-left: 9.75rem;
    padding-top: 5rem;
}
