.navbar-container {
    background-color: beige;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    padding-left: 50px;
}

#top-links-container {
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    height: 30vh;
    justify-content: space-evenly;
    margin-top: 50px;
}

#bottom-links-container {
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    margin-top: 100px;
    margin-bottom: 100px;
    height: 15vh;
    justify-content: space-evenly;
}

#logo-container {
    /* background-color: blanchedalmond; */
    margin-top: 50px;
}
