
#calendar-page-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#calendar-main-container {
    padding: 6% 10%;
}

.page-title {
    font-size: 2.75rem;
    margin: 6px 0;
}

#calendar-year-main {
    font-size: 2.75rem;
    margin: 6px 0;
}

#calendar-month-main {
    font-size: 2.0rem;
    margin: 6px 0;
}

.calendar-main-button-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.calendar-main-button {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.calendar-main-button:disabled svg path {
    fill:#ffffff;
}

.calendar-main-button:disabled:hover svg path {
    fill:#ffffff;
}

.calendar-main-button svg path {
    transition: fill .4s;
}

.calendar-main-button:hover svg path {
    fill:#B8EB77;
}

.calendar-main-horizontal-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar-main-heading {
    cursor: pointer;
    transition: color .4s;
    width: 160px;
}

.calendar-main-heading:hover {
    color: #B8EB77;
}

.calendar-day-button {
    font-size: 1.8rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: background-color .4s, color .2s;
    
}

.calendar-day-button:hover {
    background-color: #B8EB77;
    color: #fff;
}

#calendar-day-list {
    padding: 5%;
}

#calendar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendar-overlay-container {
    padding: 1% 3% 4% 3%;
    background-color: #fff;
    min-height: 250px;
    min-width: 250px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

#calendar-overlay-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.calendar-top-button {
    cursor: pointer;
    transition: background-color .4s;
    font-weight: bold;
    font-size: 25px;
    margin: 0 12px;
}

.calendar-top-button:hover {
    color: #B8EB77;
}

.calendar-overlay-month-button {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    min-height: 60px;
    min-width: 80px;
}

.calendar-overlay-month-button:hover {
    color:#B8EB77;
}

.calendar-overlay-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#calendar-overlay-close-button {
    position: absolute;
    top: 7%;
    right: 7%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#calendar-overlay-close-button svg {
    width: 25px;
    height: 25px;
}

#calendar-overlay-close-button:hover svg path {
    fill: #B8EB77;
}

#calendar-bottom-bar {
    display: flex;
    flex-direction: row;
}

#calendar-view-all-button {
    margin-right: 5%;
}