.search-cont {
    display: flex;
    /* position: relative; */
}



#form {
    height: 3.5rem;
    width: 18rem;
    background-color: #d0f8dc;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    cursor: auto;
}


#submit-btn {
    height: 3.5rem;
    width: 5rem;
    border: 1px solid black;
    border-radius: 2px;
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color: #60C77F;
    cursor: pointer;
}

#output {
    list-style: none;
}
